<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.final.project.Teechear.mapper.LessonMapper">
    <resultMap id="lessonResultMap" type="com.final.project.Teechear.entity.LessonEntity">
        <result property="title" column="title" />
        <result property="eventDatetime" column="event_datetime" />
        <result property="price" column="price" />
        <result property="description" column="description" />
        <result property="imageUrl" column="image_url" />
        <result property="emailAddress" column="email_address" />
        <result property="ownerId" column="owner_id" />
        <result property="isOpen" column="is_open" />
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        lesson(title, event_datetime, price, description, image_url, email_address, owner_id, is_open)
        VALUES
        (#{title}, #{eventDatetime}, #{price}, #{description}, #{imageUrl}, #{emailAddress}, #{ownerId}, #{isOpen})
    </insert>

    <select id="select" resultMap="lessonResultMap">
        SELECT * FROM lesson WHERE id=#{id} LIMIT 1
    </select>

    <select id="openByOwnerId" resultMap="lessonResultMap">
        SELECT * FROM lesson WHERE owner_id=#{ownerId} AND is_open=true AND event_datetime > now() ORDER BY event_datetime ASC
    </select>

    <select id="closeByOwnerId" resultMap="lessonResultMap">
        SELECT * FROM lesson WHERE owner_id=#{ownerId} AND (is_open=false OR now() > event_datetime) ORDER BY event_datetime DESC
    </select>
    
    <select id="selectByApplyedUserId" resultMap="lessonResultMap">
        SELECT
        lesson.*
        FROM
        lesson
        INNER JOIN
        user_apply_lesson
        ON
        lesson.id = user_apply_lesson.lesson_id
        WHERE user_apply_lesson.user_id = #{userId};
    </select>

    <update id="close" useGeneratedKeys="true" keyProperty="id">
        UPDATE lesson SET is_open=false WHERE id=#{id}
    </update>
</mapper>