<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>記事を投稿する</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/article/new.css}">

    <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
</head>
<body>
<div layout:decorator="layout">
    <div layout:fragment="contents">
        <div class="editor">
            <form id="newArticle" method="post" th:action="@{/article}" th:object="${articleForm}">
                <div class="editor-title">
                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                       class="col-sm-offset-2 text-danger"></p>
                    <input type="text" class="form-control" placeholder="タイトル" th:field="*{title}" required>
                </div>

                <p th:if="${#fields.hasErrors('markdownText')}" th:errors="*{markdownText}"
                   class="col-sm-offset-2 text-danger"></p>
                <div class="form-group text-area" id="editor">
                    <textarea :value="input" @input="update" class="form-control" th:field="*{markdownText}" required
                              maxlength="10000">
                    </textarea>
                    <div class="preview" v-html="compiledMarkdown" id="output"></div>
                </div>

                <div class="editor-footer">
                    <div class="submit-button-section">
                        <button type="submit" class="btn submit-button post-button">TeecHearに投稿</button>
                    </div>
                </div>
            </form>
        </div>
        　　　　
        <script>
            new Vue({
                el: '#editor',
                data: {
                    input: ''
                },
                computed: {
                    compiledMarkdown: function () {
                        return marked(this.input, {sanitize: true})
                    }
                },
                methods: {
                    update: _.debounce(function (e) {
                        this.input = e.target.value
                        $('#output').scrollTop($('textarea').scrollTop())
                    }, 300)
                }
            })
        </script>
    </div>
</div>
</body>
</html>