<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>記事詳細</title>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/article/show.css}">
</head>
<body>
<div layout:decorator="layout">
    <div layout:fragment="contents">
        <div class="container main">
            <div class="main-contents">
                <div class="user-info">
                    <img class="user-icon" th:src="${article.iconImageUrl}"
                         style="height: 32px; width: 32px;">
                    <h4 th:text="${article.userName}"></h4>
                    <p class="released-at" th:text="|${#dates.format(article.releasedAt, 'yyyy年MM月dd日')}に投稿|"></p>
                    <form id="likeForm" method="post" th:action="@{'/article/' + ${articleId} + '/like'}"
                          th:if="${!userLiked && !isMyArticle}">
                        <button type="submit" class="fas fa-thumbs-up is-liked" th:text="|いいね ${likeCount}|">
                        </button>
                    </form>

                    <form id="deleteLikeForm" th:method="delete" th:action="@{'/article/' + ${articleId} + '/unlike'}" th:if="${userLiked}">
                        <button type="submit" class="fas fa-thumbs-up is-liked" th:text="|いいねを取り消す ${likeCount}|">
                        </button>
                    </form>
                </div>

                <div class="title">
                    <h1 th:text="${article.title}"></h1>
                </div>

                <div th:text="${article?.markdownText}" id="non_display_markdown_text"></div>
                <div id="markdown_text" class="md-section"></div>
            </div>

            <div class="comment-list">
                <div class="comment" th:each="comment, index : ${commentList}">
                    <div class="comment-header">
                        <img class="user-icon" th:src="${comment.iconImageUrl}"
                             style="height: 32px; width: 32px;">
                        <b th:id="|user_name-${index.index}|"></b>
                    </div>

                    <div class="comment-body">
                        <div th:id="|markdown_comment-${index.index}|" class="md-section"></div>
                    </div>
                </div>
            </div>

            <div class="comment-form">
                <img class="user-icon" th:src="${currentUser.iconImageUrl}"
                     style="height: 32px; width: 32px;">
                <b>コメントを投稿する</b>
                <form id="commentForm" method="post" th:action="@{/comment/create}" th:object="${commentForm}">
                    <div class="form-group text-area">
                        <textarea class="form-control" rows="3" th:field="*{text}" maxlength="10000"></textarea>
                    </div>

                    <input type="hidden" name="userId" th:value="${currentUserId}">
                    <input type="hidden" name="articleId" th:value="${article.id}">

                    <div class="submit-button">
                        <button type="submit" class="btn submit-button">投稿</button>
                    </div>
                </form>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script>
            $(document).ready(function () {
                var plainText = document.getElementById("non_display_markdown_text").innerText

                marked.setOptions({
                    gfm: true,
                    tables: true,
                    breaks: false,
                    pedantic: false,
                    sanitize: true,
                    smartLists: true,
                    smartypants: false,
                    langPrefix: 'language-',
                    highlight: function (code, lang) {
                        return code;
                    }
                });

                document.getElementById('markdown_text').innerHTML =
                    marked(plainText);

                $.getJSON(location.href + "/comments.json", function (commentList) {
                    for (var i = 0; i < commentList.length; i++) {
                        var comment = commentList[i];
                        document.getElementById('user_name-' + i).innerText = comment.accountName;
                        document.getElementById('markdown_comment-' + i).innerHTML = marked(comment.markdownText);
                    }
                });
            });
        </script>
    </div>
</div>
</body>
</html>